body {
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: black;
    color: white;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Sections */
.section {
    padding: 80px 20px;
    text-align: center;
}

/* Home */
#home {
    background: #111;
    color: white;
    height: 100vh;
}

/* Projects */
.project-card {
    background: #f4f4f4;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}